button {
  box-sizing: border-box;
  width: 150px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  font-size: 15px;
  color: gray;
  background-color: whitesmoke;
  border-radius: 7px;
  border: 1px solid rgba(0,0,0,0);
  margin: 10px 10px 30px 10px;
  outline: none;
}

button:hover {
  border: 1px solid gray;
}

button:focus {
  border: 1px solid lightblue;
}