.google-footer {
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
}

.footer-bar {
  display: block;
  box-sizing: border-box;
  background-color: whitesmoke;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-top: 1px solid #dfe1e5;
  padding: 0 30px;
  color: #9AA0A6;
  font-size: 15px;
}

.footer-bar > label {
  width: 100%;
}

li {
  font-size: 13px;
  float: left;
  margin-right: 25px;
}

.right {
  float: right;
  margin-right: 0;
  margin-left: 25px;
}

li > a {
  margin: 0;
  padding: 0;
  color: #9AA0A6;
}

li > a:visited {
  color: #9AA0A6;
}
