.search-icon {
  float: left;
  font-size: 20px;
  height: 44px;
  line-height: 44px;
  margin-left: 10px;
  color: gray;
}

form, input {
  clear: both;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: none;
  outline: none;
  padding: 0 10px;
  font-size: 20px;
}

.voice-icon {
  float: right;
  font-size: 20px;
  height: 44px;
  line-height: 44px;
  margin-right: 10px;
  color: gray;
}