span {
  font-size: 10px;
}

.language-label {
  margin: 10px;
}

a {
  margin: 10px 5px;
  text-decoration-line: none;
  color: #9AA0A6;
}

a:hover {
  text-decoration-line: underline;
}

a:visited {
  color: #9AA0A6;
}